# Getting and Knowing your Data

### Step1: 导入必要的库

In [4]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('D:\\Python\\Git_test\\Data_Analysis')

### Step2:数据读取

### 2.1 读取csv 数据 赋给 data_train变量

In [5]:
data_train = pd.read_csv("./input/pratice_data.csv",index_col = 0)

## Step3、数据观察
### 3.1. 查看数据前10行

In [ ]:
data_train.head(10)

### 3.2. 查看数据后5行

In [6]:
data_train.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,timestamp,title,genres,rating,timestamp_1
id,,,,,,,,,,,,,,,,,
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,03/23/2009 08:30:00,Toy Story (1995),Animation|Children's|Comedy,5,978300760
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,03/26/2015 19:10:00,Jumanji (1995),Adventure|Children's|Fantasy,3,978302109
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,01/07/2007 07:45:00,Grumpier Old Men (1995),Comedy|Romance,3,978301968
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,04/18/2005 00:10:00,Waiting to Exhale (1995),Comedy|Drama,4,978300275
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,02/25/2009 09:40:00,Father of the Bride Part II (1995),Comedy,5,978824291

### 3.3. 查看数据框 形状

In [ ]:
data_train.shape1

### 3.4. 查看数据框 变量数

In [7]:
data_train.shape[1]

17

### 3.7. 查看数据框 的索引

In [ ]:
data_train.index

### 3.6. 查看数据框 的列名
并将其转化为列表

In [ ]:
data_train.columns
data_train.columns.tolist()

### 3.7. 查看数据框 的取值

In [ ]:
data_train.values

### 3.8. 查看数据框 的描述统计

In [ ]:
data_train.describe()

查看 'Age','Fare','Pclass'三个字段的 描述统计 赋给变量 des_data

In [ ]:
des_data = data_train[['Age','Fare','Pclass']].describe()

将des_data转置,并借助numpy 设置显示2位小数点

In [ ]:
np.round(des_data.T,2)  #结果保留2位小数

### 3.9. 查看数据框 的字段类型 和 所占空间大小(三种方法)
 三种类型  'float','int','object' -> object 是指有字符串或包含混合数据类型的情况

1.info 方法

In [8]:
data_train.info(verbose = True, memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 17 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
timestamp      1309 non-null object
title          1309 non-null object
genres         1309 non-null object
rating         1309 non-null int64
timestamp_1    1309 non-null int64
dtypes: float64(3), int64(6), object(8)
memory usage: 787.3 KB

2.sys 方法

In [ ]:
import sys
# 两种方式查看数据框内存大小
sys.getsizeof(data_obj)

3.memory_usage方法

In [8]:
data_obj.memory_usage(deep = True).sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 17 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
timestamp      1309 non-null object
title          1309 non-null object
genres         1309 non-null object
rating         1309 non-null int64
timestamp_1    1309 non-null int64
dtypes: float64(3), int64(6), object(8)
memory usage: 787.3 KB

** <font color =blue>输出显示不同格式</font>**<br>
csv <br> 
LaTex<br>

In [ ]:
des_data.T.to_latex('summary stats.tex')